#flotante1 { 
  position:fixed;
  top:30px;
  right:-250px;
  float:right;
  width:288px;
  display:block;
  padding:0;
  z-index:1002;
  border:none;
  -moz-transition: all 2s;
  -webkit-transition: all 2s;
  -o-transition: all 2s; 
  }
#flotante1:hover,
#flotante2:hover,
#flotante3:hover {
  right:0px; -moz-
  transition: all 1s; 
  -webkit-transition: all 1s; 
  -o-transition: all 1s; 
  }
div.likeboxwrap {
  margin-top:-5px; 
  margin-left:-45px;
  width:238px;
  height:355px;
  background-color:#fff; 
  overflow:hidden; 
  border:none;
  }
